<div class="container">
  <header class="header">
    <h1>ngx-dadata</h1>
    <p>
      DaData suggestion (подсказки) service implementation for Angular 6+
    </p>
  </header>
  <div class="dadata-example">
    <div>
      <label for="address">Enter address: </label>
      <ngx-dadata [config]="configAddress" id="address"></ngx-dadata>
    </div>
    <br>
    <div>
      <label for="fio">Enter FIO: </label>
      <ngx-dadata [config]="configFio" id="fio"></ngx-dadata>
    </div>
    <br>
    <div>
      <label for="party">Enter Party: </label>
      <ngx-dadata [config]="configParty" id="party" (selected)="onPartySelect($event)"></ngx-dadata>
    </div>
  </div>
  <p>
    NPM package is here:
    <a href="https://www.npmjs.com/package/@kolkov/ngx-dadata">https://www.npmjs.com/package/@kolkov/ngx-dadata</a>
  </p>
  GitHub repo is here:
  <a href="https://github.com/kolkov/ngx-dadata">https://github.com/kolkov/ngx-dadata</a>
</div>

